<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58799-9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-58799-9');
  </script>
  <!-- Adobe Typekit -->
  <script>
    (function(d) {
    var config = {
      kitId: 'wdk4cem',
      scriptTimeout: 3000,
      async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
  <!-- End Adobe Typekit -->
  <title>{{if .IsHome}}{{ $.Site.Title }}{{else}}{{.Title}}｜{{ $.Site.Title }}{{end}}</title>
  {{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
  {{ end -}}
  {{ if .IsHome }}
  {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}">
  {{ end }}{{ else }}
  <meta name="description" content="{{ .Summary }}">
  {{ end }}{{ if .IsHome }}{{ with .Site.Params.tags }}
  <meta name="keywords" content="{{ . }}">
  {{ end }}{{ else }}{{ with .Params.tags }}
  <meta name="keywords" content="{{ . }}">{{ end }}{{ end }}
  <meta name="robots" content="max-snippet:50, max-image-preview:large">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/google_news.html" . }}
  <style>
    {{ replaceRE " +" " " (replaceRE "\n" "" (partial "style.css" .)) | safeCSS }}
  </style>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/zdo_drawer_menu.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/zdo_drawer_menu.js"></script>
  <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/icon-192x192.png">
</head>

<body>
  <header>
    <div class="zdo_drawer_menu left">
      <div class="zdo_drawer_bg"></div>
      <button type="button" class="zdo_drawer_button">
        <span class="zdo_drawer_bar zdo_drawer_bar1"></span>
        <span class="zdo_drawer_bar zdo_drawer_bar2"></span>
        <span class="zdo_drawer_bar zdo_drawer_bar3"></span>
        <span class="zdo_drawer_menu_text zdo_drawer_text">MENU</span>
        <span class="zdo_drawer_close zdo_drawer_text">CLOSE</span>
      </button>
      <nav class="zdo_drawer_nav_wrapper">
        <ul class="zdo_drawer_nav">
          <li>
            <a href="{{ .Site.BaseURL }}">
              TOPページ
            </a>
          </li>
          <li>
            <a href="{{ .Site.BaseURL }}about/">
              About
            </a>
          </li>
          <li>
            <a href="{{ .Site.BaseURL }}tags/自転車のはなし/">
              自転車のはなし
            </a>
          </li>
          <li>
            <a href="{{ .Site.BaseURL }}tags/旅行/">
              旅行のはなし
            </a>
          </li>
          
        </ul>
      </nav>
    </div>
    <div class="header-center" ><p><a href="{{ .Site.BaseURL }}" ><img class="blogtitle" src="/img/blogtitle.svg"
          alt="{{ .Site.Title }}"></a></p>
    </div>
    <div class="header-right"></div>
  </header>
<main>