  <amp-social-share type="twitter" width="44" height="44" aria-label="Twitterでシェア"></amp-social-share>
  <amp-social-share type="facebook" data-param-app_id="557395031663448" width="44" height="44" aria-label="Facebookでシェア" ></amp-social-share>
  <amp-social-share type="line" width="44" height="44" aria-label="Lineでシェア" ></amp-social-share>
  <amp-social-share type="hatena" width="44" height="44" aria-label="はてなでシェア" data-share-endpoint="https://b.hatena.ne.jp/entry/{{ .Permalink }}" role="button" tabindex="0" ></amp-social-share>
