</main>
<footer>
<div class="footer-contents">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block; text-align:center;"
         data-ad-layout="in-article"
         data-ad-format="fluid"
         data-ad-client="ca-pub-7014159386436390"
         data-ad-slot="9905430556"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<br>
<p>COPYRIGHT &#169; irohaka's blog ALL RIGHTS RESERVED.	</p>
<br>

</footer>