<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width,initial-scale=1">
       {{ template "_internal/opengraph.html" . }}
       {{ template "_internal/twitter_cards.html" . }}
       {{ template "_internal/schema.html" . }}
       <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/style.css"> 
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
<header>
  <a href="{{ .Site.BaseURL }}"　><img class="blogtitle" src="/img/blogtitle.svg" alt="{{ .Site.Title }}" ></a>
</header>
<body>
<main>
