<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width,initial-scale=1">
       {{ template "_internal/opengraph.html" . }}
       {{ template "_internal/twitter_cards.html" . }}
       {{ template "_internal/schema.html" . }}
       <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/style.css">
       <link rel="icon" href="/favicon.ico">
       <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    </head>
    <body>
<header>
  <a href="{{ .Site.BaseURL }}"　><img class="blogtitle" src="/img/blogtitle.svg" alt="{{ .Site.Title }}" ></a>
  <ul class="topmenu">
    {{ range .Site.Menus.main }}
    <li class="menu_line">
      <a href="{{ .URL }}">{{ .Name }}</a>
    </li>
  {{ end }}
</ul>
</header>
<body>
<main>
