<div class="sns_button twitter">
    <a href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}%20%7c%20{{ .Site.Title }}" target="_blank" title="Tweet" aria-label="Twitterでシェア" role="button" tabindex="0" ><img class="socialicon" src="/img/twitter.png"></a>
  </div>

 <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><img class="socialicon" src="/img/facebook.png"></a>

  <div class="sns_button hatena">
    <a href="https://b.hatena.ne.jp/entry/{{ .Permalink }}" target="_blank" rel="nofollow"><img class="socialicon" src="/img/hatena.png"></a>
  </div>
  <a href="https://social-plugins.line.me/lineit/share?url={{ .Permalink }}&openExternalBrowser=1" title="LINEでシェア" class="ln" target="_blank" rel="nofollow"><img class="socialicon" src="/img/line.png"></a>  