<!-- Sharingbutton Twitter -->
<a class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?text={{ .Title }};url={{ .Permalink }}"
    target="_blank" rel="noopener" aria-label="Twitter">
    <img class="socialicon" src="/img/twitter.png">
</a>

<!-- Sharingbutton Facebook -->
<a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" class="facebook" >
    <img class="socialicon" src="/img/facebook.png">
</a>
<!-- Sharingbutton Hatena -->
    <a class="resp-sharing-button__link" href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="touch" title="このエントリーをはてなブックマークに追加"><img class="socialicon" src="/img/hatena.png" alt="このエントリーをはてなブックマークに追加" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>