
{{ define "main" }}
        <article>
                <ul>
                    {{ range .Pages }}
                        <li class="sammary">
                            <a class="title" href="{{.Permalink}}">{{.Title}}  </a>  
                            <time>{{.Date.Format "2006-Jan-02"}}</time>
                            {{ with .Params.featured_image }}<img src="{{ . }}">{{ end }}
                            {{ .Summary}}
                        </li>
                    {{end}}
                </ul>
                {{ template "_internal/pagination.html" . }}
        </article>
{{ end }}