{{ define "main" }}
{{ range (.Paginator 5).Pages }}
<article class="toplist">
    <div>
        <div class="list-title">
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2><time>{{.Date.Format "2006-Jan-02"}}</time>
        </div>
        {{ with .Params.featured_image }}<img src="{{ . }}">{{ end }}
        {{ .Summary }}
    </div>
    {{ if .Truncated }}
    <div>
        <a class="readmore" href="{{ .RelPermalink }}">続きを読む</a>
    </div>
    {{ end }}
</article>
{{ end }}
<section id="pagination">
    {{- partial "pagination.html" . -}}
</section>
{{ end }}