{{ define "main" }}
<main>
  <section id="main">
      <h2>{{ .Title }}</h2>
      <p class="date"> {{ .Date.Format "2006年01月02日" }} </p>
    <div>
      {{ with .Params.tags }}
      <ul id="tag_pickup">
          <p>タグ：　</p>
        {{- range . -}}
        <li class="tags"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{- end -}}
      </ul>
      {{ end }}
    </div>
    {{ if .Params.featured_image }}
    <figure>
      <amp-img src="{{ .Params.featured_image | relURL}}" alt="{{ .Title}}" width="1280" height="640" layout="responsive"></amp-img>
    </figure>
    {{ end}}
    <div class="socialshare">
        {{ partial "amp.socialshare.html" . }}
    </div>
    <article id="content">
      {{ .Content }}
    </article>
    <article class="contentfooter">
      {{ partial "related.html" .  }}
    </article>
    <article class="contentfooter">
      {{ partial "prev-next" . }}
    </article>
  </section>
  <hr class="dark">
  <div id="disqus_thread">
      <amp-iframe width=600 height=140
      layout="responsive"
      sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
      resizable
      src="https://irohaka-disqus.netlify.com#irohaka-netlify-com">
      <div overflow
   tabindex=0
   role=button
   aria-label="Load more"
   style="display:block;font-size:12px;font-weight:500;font-family:Helvetica Neue, arial, sans-serif;text-align:center;line-height:1.1;padding:12px 16px;border-radius:4px;background:rgba(29,47,58,0.6);color:rgb(255,255,255)"
>
  Load more
      </div>
      </amp-iframe>
  </div>
</main>
{{ end }}