
{{ define "main" }}
<main>
<section id="main">
  <div class="title_line">
      <h1 id="title">{{ .Title }}</h1>
      <p class="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </p>
  </div>
      {{ if .Params.featured_image }}
      <figure>
        <img src="{{ .Params.featured_image | relURL}}" alt="{{ .Title}}">
      </figure>
      {{ end}}
    <article id="content">
           {{ .Content }}
     </article>
     {{ partial "prev-next" . }}
</section>
<div>
{{ template "_internal/disqus.html" . }}
</div>
</main>  
{{ end }}