
{{ define "main" }}
<section id="main">
  <div class="title_line">
      <h1 id="title">{{ .Title }}</h1>
      <p class="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </p>
  </div>
      {{ if .Params.featured_image }}
      <figure>
        <img src="{{ .Params.featured_image | relURL}}" alt="{{ .Title}}">
      </figure>
      {{ end}}
  <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
  <div class="next">
    {{ if .PrevInSection }}
    {{ with .PrevInSection }}
      <a class="previous" href="{{ .Permalink }}"> 前の記事｜「{{ .LinkTitle }}」</a>
    {{ end }}
    {{ end }}
    {{ if .NextInSection }}
    {{ with .NextInSection }}
      <a class="next" href="{{ .Permalink }}"> 次の記事｜「{{ .LinkTitle }}」</a>
    {{ end }}
    {{ end }}
</div>
<div>
  {{ template "_internal/disqus.html" . }}
</div>
</section>  
{{ end }}