
{{ define "main" }}
<section id="main">
  <div class="title_line">
      <h1 id="title">{{ .Title }}</h1>
      <p class="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </p>
  </div>
 
<!-- pending tag issue...
  <div>
      {{ with .Params.topics }}
      <ul id="topics">
        <li class="tags">Topics:&nbsp;</li>
        {{ range . }}
          <li class="tags"><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
      {{ with .Params.tags }}
      <ul id="tags">
        <li class="tags">Tags:&nbsp;</li>
        {{ range . }}
        <li class="tags"> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
      </div>
-->
      {{ if .Params.featured_image }}
      <figure>
        <img src="{{ .Params.featured_image | relURL}}" alt="{{ .Title}}">
      </figure>
      {{ end}}
  <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>
<aside id="meta">
    
    <div class="next">
        {{ with .PrevInSection }}
          <a class="previous" href="{{.Permalink}}"> 前の記事｜「{{.Title}}」</a>
        {{ end }}
        {{ with .NextInSection }}
          <a class="next" href="{{.Permalink}}"> 次の記事｜「{{.Title}}」</a>
        {{ end }}
    </div>
    {{ template "_internal/disqus.html" . }}
</aside>
{{ end }}