{{ partial "header.html" . }}
<div id="content">
  <main>
    <h3 class="tagpage">「{{ .Title }}」記事一覧</h3>
    {{ range .Data.Pages }}
    <ul id="taglist">
      <li class="tags">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <div class="meta">{{ .Date.Format " 2006年01月02日" }}</div>
      </li>
    </ul>
    {{ end }}

    <hr>
    <div class="tag-index">
      <h3>タグ一覧</h3>
      <ul id="taglist">
        {{- range $termName, $entries := .Site.Taxonomies.tags }}
        <li class="tag-meta"><a href="{{ "/tags/" | relLangURL }}{{ $termName | urlize }}">{{ $termName }}</a>
          &nbsp;({{ $entries.Count }})</li>
        {{- end }}
      </ul>
    </div>
  </main>
</div>

{{ partial "footer.html" . }}

</body>
<div class="to-top">
  <a class="back-to-top" href="#">TOPへ戻る</a>
</div>

</html>