* {
  margin: 0;
  padding: 0;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  background: #19191a;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  color: #ccc;
  text-align: left;
  font-feature-settings: "palt" 1;
  text-size-adjust: 100%;
  justify-content: space-between;
}


a {
  text-decoration: none;
  color:#327ee0;
}
a:hover{
  text-decoration: none;
  color:#3ba5fc;
}

a.previous{
  font-size:1.2rem;
  padding:1rem;
}

a.next{
  font-size:1.2rem;
  padding:1rem;
}

div.next{
 display:flex;
 flex-flow:row wrap;
 justify-content: center;
 margin: 1rem;
 padding: 1rem;
}

li {
  list-style: none;
}
li.title{
  font-size:1.5rem;
  line-height: 2.5rem;
}

li.tags{
  list-style: none;
  display:inline;
}

header,
main,
footer {
  width: 80%;
  max-width:1080px;
  margin: 0 auto;
}
 
header {
  padding-top: 16px;
}

h1{
  font-size:1.8rem;
  font-weight:600;
  padding:5px;
}

h4{
  font-size:0.9rem;
  font-weight:normal;
}

div.title_line{
  line-height: 2rem;
}
main,
nav,
footer {
  margin-top: 40px;
}
 
li {
  margin-bottom: 16px;
}
 
li span {
  margin-right: 16px;
}
 
nav,
footer {
  text-align: center;
}
article #content{
padding-top: 10px;
padding-bottom: 10px;
} 
 
.entry-content {
  margin-top: 40px;
}

p.date{
  font-size:0.8rem;
  font-weight:normal;
}

p.Summary{
  margin-bottom: 3rem;
}
img{max-width:100%;
 height:auto;
 padding:15px 0px 0px 0px;
}
figcaption{
  margin-top:0px;
  margin-bottom: 2px;
}