
<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width,initial-scale=1">
       {{ template "_internal/opengraph.html" . }}
       {{ template "_internal/twitter_cards.html" . }}
       {{ template "_internal/schema.html" . }}
       <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/style.css"> 
       <title>{{ .Title }} Cloud -- {{ .Site.Title }}</title>
    </head>
    <body>
<header>
  <h1><a href="{{ .Site.BaseURL }}">{{.Site.Title}}</a></h1>
</header>
<body>
<main>

    <ul>
        {{ range .Site.Taxonomies.series.golang }}
            <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
    </ul>

{{ partial "footer.html" . }}
    </body>
    <html>