{{ define "main" }}
<main>
  <section>
    <h1>{{ .Title }}</h1>
    <div class="tag_line">
      {{ with .Params.tags }}
      <ul id="tag_pickup">
        {{- range . -}}
        <li class="tags"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{- end -}}
      </ul>
      {{ end }}
    </div>
    {{ if .Params.featured_image }}
    <figure class="featured_img">
      <amp-img src="{{ .Params.featured_image | relURL}}" alt="{{ .Title}}" width="1280" height="640"
        layout="responsive"></amp-img>
    </figure>
    {{ end}}
    <figure class="socialshare">
      {{ partial "amp.socialshare.html" .  }}
    </figure>
    <article>
      {{ .Content }}
    </article>
  </section>
  <hr class="dark">
  </div>
</main>
{{ end }}