{{ define "main" }}
{{ with .Site.Params.description }}
<p class="description">{{ . }}</p>
{{ end }}
<section class="indexpage">
{{ range (.Paginator 9).Pages.ByParam "post" }}
<article class="toplist">
        <figure>
            {{ $head_img := .Resources.GetMatch "images/featured.jpg" }}
            {{ if $head_img }}
            {{ $small := $head_img.Fit "300x150 q80" }}
            <img src="{{ $small.RelPermalink }}" width="300px" height="150px" alt="{{ .Title }}">
            {{ else }}
             <img src="/images/eyecache.jpg" width="300px" height="150px" alt="{{ .Title }}">
             {{ end }}
        </figure>
        <div class="list-title">
        <h2><a href="{{ .RelPermalink }}" title="{{ .Title }}" >{{ .Title }}</a></h2>
        </div>
        <time>{{.Date.Format "2006年01月02日"}}</time>
         <div class="readmore">
         <p>{{ .Summary }}</p>    
         <p class="readmore"><a class="readmore" href="{{ .RelPermalink }}" title="「{{ .Title }}」の続きを読む">続きを読む</a><p>
         </div>
 </article> 
{{ end }}
</section>   
    <div class="pagination">
        {{ template "_internal/pagination.html" . }}
    </div>
{{ end }}

